*.bak
*.bak2
*.db.flat
*.diff
*.gamelog.*.gz
*.log
*.log.old
*.log.*.gz
*.o
*.orig
*.pid
*.rej
*.swp
*.tmp
/Server/bin/a.out
/Server/bin/asksource.save*
/Server/bin/dbconvert
/Server/bin/mk*
/Server/bin/murboot
/Server/bin/netrhost*
/Server/bin/timeout
/Server/game/*.conf
/Server/game/*.fx
/Server/game/*.gamelog
/Server/game/*.reboot
/Server/game/*.size
/Server/game/core
/Server/game/data/*
/Server/game/image/*.img
/Server/game/kill_*
/Server/game/mush.config
/Server/game/old*/*.gz
/Server/game/oldlogs/*
/Server/game/prev*/*.flat
/Server/game/prev*/*dump*
/Server/game/shutdown.status
/Server/game/txt/*.indx
/Server/game/txt/*.txt
!/Server/game/txt/help.txt
!/Server/game/txt/wizhelp.txt
/Server/src/buildnum.data
/Server/src/custom.defs
/Server/src/date.txt
/Server/src/do_compile.var
/Server/src/gdbm/*.la
/Server/src/gdbm/*.lo
/Server/src/gdbm/*.status
/Server/src/gdbm/.libs/
/Server/src/gdbm/autoconf.h
/Server/src/gdbm/gdbm.h
/Server/src/gdbm/libtool
/Server/src/gdbm/Makefile
/Server/src/intsize
/Server/src/local.c
/Server/src/Makefile.*
/Server/src/netrhost~
/Server/src/qdbm/LTmakefile
/Server/src/qdbm/Makefile
/Server/src/qdbm/cbcodec
/Server/src/qdbm/cbtest
/Server/src/qdbm/config.status
/Server/src/qdbm/crmgr
/Server/src/qdbm/crtest
/Server/src/qdbm/crtsv
/Server/src/qdbm/dpmgr
/Server/src/qdbm/dptest
/Server/src/qdbm/dptsv
/Server/src/qdbm/hvmgr
/Server/src/qdbm/hvtest
/Server/src/qdbm/libqdbm.a
/Server/src/qdbm/odidx
/Server/src/qdbm/odmgr
/Server/src/qdbm/odtest
/Server/src/qdbm/qdbm.pc
/Server/src/qdbm/qdbm.spec
/Server/src/qdbm/qmttest
/Server/src/qdbm/rlmgr
/Server/src/qdbm/rltest
/Server/src/qdbm/vlmgr
/Server/src/qdbm/vltest
/Server/src/qdbm/vltsv
/Server/src/sockopts_test
/Server/src/scantst
/Server/src/time
