*.o
*.log.*.gz
*.gamelog.*.gz
Server/game/data/*
*.tmp
*.pid
Server/src/Makefile.*
Server/src/intsize
Server/src/netrhost~
Server/src/date.txt
Server/src/buildnum.data
Server/game/old*/*.gz
Server/game/prev*/*.flat
Server/game/prev*/*dump*
Server/game/*.log
Server/game/*.log.old
Server/game/*.gamelog
Server/game/oldlogs/*
Server/game/kill_*
Server/game/image/*.img
Server/game/txt/*.indx
Server/bin/asksource.save*
Server/bin/netrhost*
Server/bin/dbconvert
Server/bin/mk*
Server/bin/murboot
Server/src/custom.defs
Server/src/do_compile.var
Server/src/scantst
Server/src/qdbm-1.8.78/LTmakefile
Server/src/qdbm-1.8.78/Makefile
Server/src/qdbm-1.8.78/cbcodec
Server/src/qdbm-1.8.78/cbtest
Server/src/qdbm-1.8.78/config.log
Server/src/qdbm-1.8.78/config.status
Server/src/qdbm-1.8.78/crmgr
Server/src/qdbm-1.8.78/crtest
Server/src/qdbm-1.8.78/crtsv
Server/src/qdbm-1.8.78/dpmgr
Server/src/qdbm-1.8.78/dptest
Server/src/qdbm-1.8.78/dptsv
Server/src/qdbm-1.8.78/hvmgr
Server/src/qdbm-1.8.78/hvtest
Server/src/qdbm-1.8.78/libqdbm.a
Server/src/qdbm-1.8.78/odidx
Server/src/qdbm-1.8.78/odmgr
Server/src/qdbm-1.8.78/odtest
Server/src/qdbm-1.8.78/qdbm.pc
Server/src/qdbm-1.8.78/qdbm.spec
Server/src/qdbm-1.8.78/qmttest
Server/src/qdbm-1.8.78/rlmgr
Server/src/qdbm-1.8.78/rltest
Server/src/qdbm-1.8.78/vlmgr
Server/src/qdbm-1.8.78/vltest
Server/src/qdbm-1.8.78/vltsv
