*.o
*.log.*.gz
*.gamelog.*.gz
Server/game/data/*
*.tmp
*.pid
Server/src/Makefile.*
Server/src/intsize
Server/src/netrhost~
Server/src/date.txt
Server/game/old*/*.gz
Server/game/prev*/*.flat
Server/game/prev*/*dump*
Server/game/*.log
Server/game/*.gamelog
Server/game/kill_*
Server/game/image/*.img
Server/bin/asksource.save*
Server/bin/netrhost*
Server/bin/dbconvert
Server/bin/mk*
Server/bin/murboot
